@media screen and (max-width: 1396px) {
    header {
        box-sizing: border-box;
        height: 130px;
        padding: 10px 20px;
        display: block;
    }

    main {
        margin-top: 130px;
        height: calc(100vh - 130px);
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0px 5vw;
        gap: 10px;
    }

    #logo {
        flex: 0 0 auto;
        margin-right: 20px;
    }

    #logo img {
        height: 60px;
        width: auto;
        display: block;
    }

    .search {
        flex: 1 1 auto;
        min-width: 200px;
    }

    .search .dabba {
        width: 70vw;
        margin-right: 20px;
    }

    #nav1 li {
        flex: 1;
        text-align: center;
        /* min-width: 0; */
    }

    #nav1 {
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
        gap: 5px;
        margin-top: 10px;
    }
}