    * {
        margin: 0;
        padding: 0;
    }

    @keyframes roll {
        0% {
            transform: rotate(0deg);
        }


        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes squeeze {
        0% {
            transform: scaleX(1);
        }

        50% {
            transform: scaleX(0.8);
        }

        100% {
            transform: scaleX(1);
        }
    }

    @keyframes enlarge {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.05);
        }
    }



    main {
        margin-top: 50px;
        height: calc(100vh - 50px - 30px);
        overflow-y: auto;
    }

    footer {
        height: 30px;
        background-color: rgb(73, 73, 73);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer:hover {
        background-color: white;
        color: black;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 200px;
        width: 100%
    }

    #logo img {
        width: 35px;
        height: auto;
        display: block;
        border-radius: 16px;
    }

    #logo img:hover {
        animation: roll 1s infinite;
    }

    #nav1 {
        display: flex;
        list-style: none;
        gap: 30px;
    }


    nav ul li a {
        text-decoration: none;
        color: white;
        display: inline-block;
        transition: all 0.3s ease;
    }

    nav ul li a:hover {
        color: rgb(250, 169, 111);
        font-style: bolder;
        animation: squeeze 0.6s infinite;
    }

    .search {
        display: flex;
        justify-content: center;
        flex: 1;
    }

    .dabba {
        height: 20px;
        width: 500px;
        border-radius: 12px;
        transition: all 0.3s ease;
        text-align: center;
    }

    .mar {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .dabba:hover {
        animation: curve 0.5s forwards;
        background-color: black;
        color: white;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
        background-color: rgb(4, 4, 4);
        color: white;
        display: flex;
        align-items: center;
        z-index: 2;
    }

    .slider {
        padding: 12px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slider img {
        width: 70vw;
        border: 2px solid white;
    }

    .card1 {
        width: 90vw;
        margin: 0 auto;
        color: white;
        overflow: hidden;
    }

    .product-row {
        display: flex;
        gap: 20px;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        padding-bottom: 30px;
        width: 80vw;
        margin: 0px auto;
    }

    .product-row::-webkit-scrollbar {
        display: none;
    }

    .card1 h2 {
        margin-left: 20px;
        color: aqua;
        margin-bottom: 20px;
    }

    .product {
        display: inline-block;

    }

    .product-text {
        text-align: center;
    }


    body {
        background-color: rgb(44, 43, 43);
    }

    img:hover:not(.noenlarge) {
        z-index: 4;
        border: 2px solid white;
        animation: enlarge 0.6s forwards;
    }

